@using Ecommerce.WebApp.Models.CustomerList;
@model CustomerListViewModel
@{
    int slno = 0;
}
<form method="GET">
    <div class="form-group">
        <label asp-for="CustomerSearchCriteria.Name">Name</label>
        <input type="text" class="form-control" asp-for="CustomerSearchCriteria.Name"/>
    </div>
    <div class="form-group">
        <label asp-for="CustomerSearchCriteria.Email">Email</label>
        <input type="text" class="form-control" asp-for="CustomerSearchCriteria.Email" />
    </div>
    <div class="form-group">
        <label asp-for="CustomerSearchCriteria.Phone">Phone</label>
        <input type="text" class="form-control" asp-for="CustomerSearchCriteria.Phone" />
    </div>
    <div>
        <input type="submit" class="btn btn-primary my-3">Search</input>
    </div>
</form>
<a class="btn btn-primary mb-3" asp-action="Create">Create/Add new</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Phone</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var customer in Model.CustomerList)
        {
            <tr>
                <td>@(++slno)</td>
                <td>@customer.Name</td>
                <td>@customer.Email</td>
                <td>@customer.Phone</td>
                <td>View | <a class="btn btn-primary" asp-action="Edit" asp-route-id="@customer.Id">Edit</a> | Remove</td>
            </tr>
        }
    </tbody>
</table>